body {
    background: green;
}

header {
    background: black;
    color: white;
    padding: 20px;
}

article {
    background: white;
    padding: 20px;
    margin: 20px;
}

.about {
    padding: 40px;
    background: #d8a5a5;
}

.contact {
    padding: 40px;
    background: #e4b0b0;
}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: black;
    color: white;
}

.nav-menu {

    display: flex;
    gap: 20px;

    list-style: none;
}

.nav-menu a {

    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;

    background: white;
    border: none;

    padding: 10px;
}

/* =================================================== */

.single-post {

    padding: 40px;
    max-width: 800px;
    margin: 0 auto;

}

.post-meta {

    color: gray;
    margin-bottom: 20px;

}

.post-meta span {

    margin-right: 15px;

}

.post-image img {

    width: 100%;
    height: auto;
    margin-bottom: 20px;

}

.post-content {

    line-height: 1.6;

}



/* =================================================== */


.blog {

    padding: 40px;

}

.blog-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;

}

.blog-card {

    border: 1px solid #ddd;

    padding: 20px;

}

.blog-image img {

    width: 100%;
    height: auto;

}

.blog-title a {

    color: black;
    text-decoration: none;

}

.blog-excerpt {

    margin-top: 10px;

}


/* =================================================== */


@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-menu {

        display: none;
        flex-direction: column;

        background: black;

        position: absolute;
        top: 60px;
        right: 20px;

        padding: 20px;
    }

    .nav-menu.active {

        display: flex;

    }

    .blog-grid {

        grid-template-columns: 1fr;

    }

}